@charset "UTF-8";
/* CSS Document */


@font-face {
    font-family: 'univers';
    src: url('univers/universltstd-lightultracn.eot');
    src: url('univers/universltstd-lightultracn.eot?#iefix') format('embedded-opentype'),
         url('univers/universltstd-lightultracn.woff') format('woff'),
         url('univers/universltstd-lightultracn.ttf') format('truetype'),
         url('univers/universltstd-lightultracn.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }


html, body{
	margin:0px;
	padding:0px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#48505f;
}

p{
	margin:0px 0px 10px 0px;
	line-height:22px;
}

a{
	color:#48505f;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	color:#f9933b;
}

h1, h2{
	font-family:"univers";
	font-weight:normal;
	clear:both;
}

h1{
	font-size:70px;
	line-height:70px;
	margin:0px;
	padding:0px;
}

h2{
	font-size:50px;
	line-height:50px;
	margin:0px 0px 20px 0px;
	padding:0px;
}

.container{
	width:100%;
	height:100%;
	margin:0px auto;
}

.clear{
	clear:both;
	display:block;
}


div.left{
	width:55%;
	float:left;
	margin:0px 2%;
}

header{
	margin:40px 0px;
}

.logo {
	float:left;
}

.logo img{
	width:178px;
	height:43px;
}

.desc{
	font-size:11px;
	color:#b2b5ba;
	float:left;
	margin:8px 0px 0px 20px;
	width:300px;
}

article{
	position: relative;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li{
	list-style:none;
	list-style-position:outside;
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 15px;
	background-image:url(../images/bullet.png);
	background-size:8px 16px;
	background-position:2px 2px;
	background-repeat:no-repeat;
}

.form{
	background-color:#56c8e9;
	text-align:center;
	width:38%;
	margin:0px 2% 0px 0px;
	float:left;
}

.form h1, .form h2{
	color:#FFF;
}


.panda{
	text-align:center;
}
.panda img{
	width:400px;
	margin:30px 0px;
}

.form input{
	width:100%;
	padding:10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	border:solid 2px #000;
	margin:0px 0px 10px 0px;
	font-size:13px;
}

.form button{
	width:100%;
	background-color:#000000;
	border:none;
	padding:10px 10px 3px 10px;
	margin:10px 0px 0px 0px;
	font-family:"univers";
	font-size:36px;
	font-weight:normal;
	line-height:36px;
	color:#FFF;
}


footer{
	font-size:11px;
	width:94%;
	margin:30px auto;
}

footer br{
	display:none;
}

footer div{
	float:left;
	line-height:20px;
}

footer div.social{
	margin:0px 0px 0px 25px;
}

footer div.social a{
	margin:0px 5px 5px 0px;
}

footer div.copyright{
	float:right;
}

.readmore-js-toggle{
	text-align:center;
	margin:10px 0px 0px 0px;
	text-decoration:underline;
	font-weight:bold;
}
.readmore-js-toggle:after{
    display: inline-block;
    content: "";
	width:11px;
	height:11px;
	/* background-image:url(../images/plus.png); */
	background-size:11px 11px;
	margin:0px 0px 0px 5px;
}
.readmore-js-toggle.expanded:after
{
	background-image:url(../images/minus.png);
}
.readmore-js-toggle.collapsed:after
{
	background-image:url(../images/plus.png);
}


@media all and (max-width: 1000px) {


	html, body{
		font-size:12px;
	}
	
	h1{
		font-size:60px;
		line-height:60px;
	}
	
	h2{
		font-size:36px;
		line-height:36px;
		text-align:center;
	}
	
	p{
		line-height:17px;
		text-align:center;
	}
	
	li{	
		background-size:7px 14px;
		background-position:2px 0px;
	}
	
	.container{
		width:100%;
	}
	
	header{
		text-align:center;
		margin:20px 0px 30px 0px;
	}
	
	.desc, .logo{
		float:none;
	}
	
	.desc{
		margin:20px auto 0px auto;
		width:75%;
	}
	
	div.left{
		display:block;
		width:90%;
		margin:0px;
		padding:0px 5%;
	}
	
	.form{
		margin:150px 0px 0px 0px;
		display:block;
		width:100%
	}
	
	.form input{
		font-size:11px;
	}
	
	.panda img{
		width:90%;
		padding:20px 5% 0px 5%;
		margin:-130px 0px 20px 0px;
	}
	
	
	footer{
		text-align:center;
	}
	
	footer br{
		display:inline;
	}

	footer div, footer div.copyright{
		float:none;
		margin:25px 0px;
		line-height:normal;
	}
	
	footer div.social{
		margin:20px 0px;
	}
}